<app-modal [dismissable]="true" title="Settings">


  <form 
    [formGroup]="form"
    (ngSubmit)="onSave()"
    class="flex flex-col gap-6"
  >
    @for (tab of tabs; track tab.id) {
      <app-expandable [title]="tab.label" [icon]="tab.icon" [isExpanded]="$first">
        <ng-container   
          [formGroupName]="tab.id" 
          [ngComponentOutlet]="tab.component"
          [ngComponentOutletInputs]="{
            form: form.controls[tab.id]
          }"
        ></ng-container>
      </app-expandable>
    }

    <app-button size="md" class="ml-auto" type="submit" >
      Save
    </app-button>
  </form>
</app-modal>